body {
    margin:0;
    padding:0;
    background-color: #FEFEF6;
}
.bg-brand-blue {
    background-color: #007AF0 ;
}
.bg-brand-green {
    background-color:#004D38;
}
.bg-secondary-green {
    background-color: #0DAB76;
}
.flex-apps {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
    padding: 3em;
}
.app-box {
    flex-basis: 30%;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}